#https://github.com/kbudde/rabbitmq_exporter
RABBIT_CAPABILITIES=no_sort,bert


#Environment variable|default|description
#--------------------|-------|------------
#RABBIT_URL | <http://localhost:15672>| url to rabbitMQ management plugin
#RABBIT_USER | guest | username for rabbitMQ management plugin
#RABBIT_PASSWORD | guest | password for rabbitMQ management plugin
#RABBIT_USER_FILE| | location of file with username (useful for docker secrets)
#RABBIT_PASSWORD_FILE | | location of file with password (useful for docker secrets)
#PUBLISH_PORT | 9090 | Listening port for the exporter
#OUTPUT_FORMAT | TTY | Log ouput format. TTY and JSON are suported
#LOG_LEVEL | info | log level. possible values: "debug", "info", "warning", "error", "fatal", or "panic"
#CAFILE | ca.pem | path to root certificate for access management plugin. Just needed if self signed certificate is used. Will be ignored if the file does not exist
#SKIPVERIFY | false | true/0 will ignore certificate errors of the management plugin
#INCLUDE_QUEUES | .* | reqgex queue filter. just matching names are exported
#SKIP_QUEUES | ^$ |regex, matching queue names are not exported (useful for short-lived rpc queues). First performed INCLUDE, after SKIP
#RABBIT_CAPABILITIES | | comma-separated list of extended scraping capabilities supported by the target RabbitMQ server
#RABBIT_EXPORTERS | exchange,node,overview,queue | List of enabled modules. Just "connections" is not enabled by default
