# Set the command-line arguments to pass to the blackbox_exporter service.
ARGS="--config.file {{config_file}}"

# Blackbox exporter supports the following options:
#   -config.file string
#      Blackbox exporter configuration file name.
#        (default "/etc/prometheus/blackbox_exporter.yml)